@import "~antd-mobile/dist/antd-mobile.css";

.app-container {
  display: flex;
  flex-direction: column;
}

.pixel-container {
  width: 100vw;
  height: 50vh;
}

.game-container {
  width: 100vw;
  height: 50vh;
}